.image-uploader .t-upload__card .t-upload__card-mask .t-upload__card-mask-item .t-icon {
  display:block;
}

.t-is-error .image-uploader .t-upload__card-container {
  border-color:var(--td-error-color);
}

.t-is-error .image-uploader .t-upload__card-content {
  border-color:var(--td-error-color);
}