:root,
:root[theme-mode='light'],
:root[theme-mode='dark']{
  --td-font-gray-1: #222428;
  --td-bg-color-page: #F7F8FA;
  --td-text-color-secondary: #6B6B6C;
  --td-brand-color-1: #f0fcfd;
  --td-brand-color-2: #d4f6f9;
  --td-brand-color-3: #a6ecf2;
  --td-brand-color-4: #71e0eb;
  --td-brand-color-5: #3dd3e2;
  --td-brand-color-6: #20c5d8;
  --td-brand-color-7: #20b2c6;
  --td-brand-color-8: #1cb5c7;
  --td-brand-color-9: #1a9bb0;
  --td-brand-color-10: #157d8f;
  --td-warning-color-1: #fff1e9;
  --td-warning-color-2: #ffd9c2;
  --td-warning-color-3: #ffb98c;
  --td-warning-color-4: #fa9550;
  --td-warning-color-5: #e37318;
  --td-warning-color-6: #be5a00;
  --td-warning-color-7: #954500;
  --td-warning-color-8: #713300;
  --td-warning-color-9: #532300;
  --td-warning-color-10: #3b1700;
  --td-error-color-1: #fff0ed;
  --td-error-color-2: #ffd8d2;
  --td-error-color-3: #ffb9b0;
  --td-error-color-4: #ff9285;
  --td-error-color-5: #f6685d;
  --td-error-color-6: #d54941;
  --td-error-color-7: #ad352f;
  --td-error-color-8: #881f1c;
  --td-error-color-9: #68070a;
  --td-error-color-10: #490002;
  --td-success-color-1: #e3f9e9;
  --td-success-color-2: #c6f3d7;
  --td-success-color-3: #92dab2;
  --td-success-color-4: #56c08d;
  --td-success-color-5: #2ba471;
  --td-success-color-6: #008858;
  --td-success-color-7: #006c45;
  --td-success-color-8: #005334;
  --td-success-color-9: #003b23;
  --td-success-color-10: #002515;
}